@import "tailwindcss";

@theme {
  --color-primary: #3C2F2C;
  --color-on-primary: #FFFFFF;
  --color-secondary: #D4AF37;
  --color-on-secondary: #1F1917;
  --color-tertiary: #F9F8F6;
  --color-neutral: #706664;
  --color-surface: #fff8f6;
  --color-surface-dim: #e5d7d4;
  --color-surface-container: #f9ebe8;
  --color-on-surface: #211a19;
  --color-on-surface-variant: #4e4542;
  --color-outline: #807472;
  --color-outline-variant: #d2c3c0;
  --color-badge-bg: #4a403d;
  --color-badge-text: #F9F8F6;
  
  --font-sans: 'Hanken Grotesk', sans-serif;
  --font-serif: 'EB Garamond', serif;
}

body {
  @apply bg-surface text-on-surface font-sans antialiased;
}

button, a {
  cursor: pointer;
}
